<% include ./partials/header %>

<!--s:slider-->
<section id="gallery">
	<!--s:immagine copertina-->
    <figure>
        <img src="#" alt="" title="" />
        <figcaption>
        	<h1 class="titolo"></h1>
        </figcaption>
    </figure>
	<!--e:immagine copertina-->
    <ul>
		<!--s:immagine anteprima-->
        <li>
            <figure>
                <img src="#" alt="" title="" />
                <figcaption>
                    <h2 class="titolo"></h2>
                </figcaption>
            </figure>
        </li>
        <!--e:immagine anteprima-->
        <!--s:immagine anteprima-->
       <li>
            <figure>
                <img src="#" alt="" title="" />
                <figcaption>
                    <h2 class="titolo"></h2>
                </figcaption>
            </figure>
        </li>
        <!--e:immagine anteprima-->
        <!--s:immagine anteprima-->
        <li>
            <figure>
                <img src="#" alt="" title="" />
                <figcaption>
                    <h2 class="titolo"></h2>
                </figcaption>
            </figure>
        </li>
        <!--e:immagine anteprima-->
        <!--s:immagine anteprima-->
        <li>
            <figure>
                <img src="#" alt="" title="" />
            	<figcaption>
                    <h2 class="titolo"></h2>
                </figcaption>
            </figure>
        </li>
        <!--e:immagine anteprima-->
    </ul>
</section>
<!--e:slider-->
<!--s:main-->
<main>
    <!--s:palinsesto-->
    <section id="palinsesto" itemscope itemtype="http://schema.org/Event">
    	<!--s:tab giorno-->
        <input type="radio" name="days" id="first" checked />
        <label for="first">luned&igrave;</label>
        <!--e:tab giorno-->
        <!--s:tab giorno-->        
        <input type="radio" name="days" id="second" />
        <label for="second">marted&igrave;</label>
        <!--e:tab giorno-->
        <!--s:tab giorno-->
        <input type="radio" name="days" id="third" />
        <label for="third">mercoled&igrave;</label>        
        <!--e:tab giorno-->
        <!--s:tab giorno-->
        <input type="radio" name="days" id="fourth" />
        <label for="fourth">gioved&igrave;</label>        
        <!--e:tab giorno-->
        <!--s:tab giorno-->
        <input type="radio" name="days" id="fifth" />
        <label for="fifth">venerd&igrave;</label>        
        <!--e:tab giorno-->
        <!--s:tab giorno-->
        <input type="radio" name="days" id="sixth" />
        <label for="sixth">sabato</label>        
        <!--e:tab giorno-->
        <!--s:tab giorno-->
        <input type="radio" name="days" id="seventh" />
        <label for="seventh">domenica</label>        
        <!--e:tab giorno-->
        <!--s:palinsesto giorno 1-->
        <article id="firstday" class="day">
            <!--s:colonna mattina-->
            <dl>
                <h3>mattina</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna mattina-->
            <!--s:colonna pomeriggio-->
            <dl>
                <h3>pomeriggio</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna pomeriggio-->
            <!--s:colonna sera-->
            <dl>
                <h3>sera</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna sera-->
            <!--s:colonna notte-->
            <dl>
                <h3>notte</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna notte-->
        </article>
        <!--e:palinsesto giorno 1-->
        <!--s:palinsesto giorno 2-->
        <article id="secondday" class="day">
            <!--s:colonna mattina-->
            <dl>
                <h3>mattina</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna mattina-->
            <!--s:colonna pomeriggio-->
            <dl>
                <h3>pomeriggio</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna pomeriggio-->
            <!--s:colonna sera-->
            <dl>
                <h3>sera</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna sera-->
            <!--s:colonna notte-->
            <dl>
                <h3>notte</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna notte-->
        </article>
        <!--e:palinsesto giorno 2-->
        <!--s:palinsesto giorno 3-->
        <article id="thirday" class="day">
            <!--s:colonna mattina-->
            <dl>
                <h3>mattina</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna mattina-->
            <!--s:colonna pomeriggio-->
            <dl>
                <h3>pomeriggio</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna pomeriggio-->
            <!--s:colonna sera-->
            <dl>
                <h3>sera</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna sera-->
            <!--s:colonna notte-->
            <dl>
                <h3>notte</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna notte-->
        </article>
        <!--e:palinsesto giorno 3-->
		<!--s:palinsesto giorno 4-->
        <article id="fourthday" class="day">
            <!--s:colonna mattina-->
            <dl>
                <h3>mattina</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna mattina-->
            <!--s:colonna pomeriggio-->
            <dl>
                <h3>pomeriggio</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna pomeriggio-->
            <!--s:colonna sera-->
            <dl>
                <h3>sera</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna sera-->
            <!--s:colonna notte-->
            <dl>
                <h3>notte</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna notte-->
        </article>
        <!--e:palinsesto giorno 5-->
        <article id="fifthday" class="day">
            <!--s:colonna mattina-->
            <dl>
                <h3>mattina</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna mattina-->
            <!--s:colonna pomeriggio-->
            <dl>
                <h3>pomeriggio</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna pomeriggio-->
            <!--s:colonna sera-->
            <dl>
                <h3>sera</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna sera-->
            <!--s:colonna notte-->
            <dl>
                <h3>notte</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna notte-->
        </article>
        <!--e:palinsesto giorno 5-->
        <!--s:palinsesto giorno 6-->
        <article id="sixthday" class="day">
            <!--s:colonna mattina-->
            <dl>
                <h3>mattina</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna mattina-->
            <!--s:colonna pomeriggio-->
            <dl>
                <h3>pomeriggio</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna pomeriggio-->
            <!--s:colonna sera-->
            <dl>
                <h3>sera</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna sera-->
            <!--s:colonna notte-->
            <dl>
                <h3>notte</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">07:00</dt>
                <dd>
                	<span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:30</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">10:30</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:00</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna notte-->
        </article>
        <!--e:palinsesto giorno 6-->
        <!--e:palinsesto giorno 7-->
        <article id="seventhday" class="day">
            <!--s:colonna mattina-->
            <dl>
                <h3>mattina</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna mattina-->
            <!--s:colonna pomeriggio-->
            <dl>
                <h3>pomeriggio</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna pomeriggio-->
            <!--s:colonna sera-->
            <dl>
                <h3>sera</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna sera-->
            <!--s:colonna notte-->
            <dl>
                <h3>notte</h3>
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">08:00</dt>
                <dd>
                    <span class="categoria">cultura</span>
                    <a href="#" itemprop="name">i vichinghi</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">09:50</dt>
                <dd>
                    <span class="categoria">natura</span>
                    <a href="#" itemprop="name">viaggio nella savana</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:10</dt>
                <dd>
                    <span class="categoria">kids</span>
                    <a href="#" itemprop="name">art attak</a>
                </dd>
                <!--e:orario evento-->
                <!--s:orario evento-->
                <dt itemprop="startDate" content="2016-04-21T20:00">12:45</dt>
                <dd>
                    <span class="categoria">scienza</span>
                    <a href="#" itemprop="name">il sistema solare</a>
                </dd>
                <!--e:orario evento-->
            </dl>
            <!--e:colonna notte-->
        </article>
        <!--e:palinsesto giorno 7-->
    </section>
    <!--e:palinsesto-->
</main>
<!--e:main-->


<% include ./partials/footer %>

